@import "base/listas";
@import "base/extend";
@import "base/mixin";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom, rgb(213, 209, 209), rgb(215, 211, 211) );
}

.container{
    @extend %flex;
    border: 2px solid black;
    background-color: nth($colores, 4);


    .nav-item{
        display: inline-block;
        @include mar-pad(9px, 9px);
        border: 2px solid rgb(37, 34, 34);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
        border-radius: 20px;
        font-weight: bold;
    }

    .nav-item:hover{
        background-color: nth($colores, 5);
        transform: scale(0.9);
        box-shadow: 2px 2px 10px black;
    }
    
}

.card{
    @include mar-pad(10px, 5px);
    display: inline-block;
    border: 4px solid black;
    
    
  }
  .card:hover{
    transform: scale(0.9);
    box-shadow: 2px 2px 10px black;
}



.contenedor{
    height: 100vh;
    display: grid;

    grid-template-columns:0.3fr 1fr;
    grid-template-rows:0.4fr 1fr 0.5fr 0.3fr;

    grid-template-areas: 
    "header-index header-index header-index"
    "main main main"
    "section-uno section-dos section-dos"
    "footer footer footer";



    header{
        grid-area: header-index;
        
    }

    
    main{
        grid-area: main;
    }
    .destacable{
        @extend %flex;
        @include mar-pad(4px, 3px);
        border: 2px solid black;
        background-color: nth($colores, 12);

        .aclaracion{
            display: inline-block;
            background-color: nth($colores, 8);
            font-size: 1.2rem;
            border: 1px solid black;
            @include mar-pad(2px, 2px);
        }


    }

    .section-uno{
        @include mar-pad(3px, 2px);
        background-color: nth($colores, 8);
        grid-area: section-uno;
        border: 2px solid black;

        p{
            font-size: 1.5rem;
            font-family: Georgia, 'Times New Roman', Times, serif
        }
    }

    .section-dos{
        @include mar-pad(3px, 2px);
        background-color: nth($colores, 13);
        grid-area: section-dos;
        border: 2px solid black;

        .quienes-somos{
            font-size: 2rem;
            font-style: oblique;
        }

        p{
            font-size: 1.1rem;
            font-style: oblique;
        }
    }

    footer{
        grid-area: footer;
       @extend %flex;
       @include mar-pad(4px, 3px);
       background-color: nth($colores, 3);
       border: 2px solid black;
    }
    

}
@media screen and(min-width:480px) {
    .contenedor{
    
        grid-template-areas: 
        "header-index header-index"
        "main main"
        "section-uno section-dos"
        "footer footer";
  
     }

    }
    
@media screen and(min-width:600px) {
    .contenedor{
       
        grid-template-areas: 
        "header-index header-index header-index"
        "main main main"
        "section-uno section-dos section-dos"
        "footer footer footer";
    }

}

@media screen and(min-width:1024px){
    .contenedor{
       
        grid-template-areas: 
        "header-index header-index header-index header-index"
        "main main main main"
        "section-uno section-dos section-dos section-dos"
        "footer footer footer footer";
    }
}






.contenedor-libros{
    background-color: nth($colores, 8);
    display: grid;
    grid-template-columns:auto auto auto auto auto ;
    grid-template-rows:auto auto auto ;

    grid-template-areas:
    "header-libros header-libros header-libros header-libros header-libros" 
    "main-libros main-libros main-libros main-libros main-libros"
    "footer-libros footer-libros footer-libros footer-libros footer-libros";

    header{
        grid-area: header-libros;
    }
    main{
        grid-area: main-libros;
    }
    footer{
        grid-area: footer-libros;
    }
.busquedalibros{
    @extend %flex;
    border: 3px solid black;
    @include mar-pad(6px, 2px);
    background-color: nth($colores, 12);
    font-family:'Times New Roman', Times, serif;

    .input{
        margin: 3px;
    }
}

 .catalogo{
    background-color: nth($colores, 10);
    @extend %flex;
    font-size: 1.2rem;
    border: 2px solid black;
    @include mar-pad(2px, 2px);
 }
 .card{
    @include mar-pad(3rem, 1rem);
    margin-left: 5rem;
 }

 footer{
   @extend %flex;
   @include mar-pad(4px, 3px);
   background-color: nth($colores, 3);
   border: 2px solid black;
}

}
@media screen and(min-width:480px){
    .contenedor-libros{
        grid-template-areas:
        "header-libros header-libros" 
        "main-libros main-libros"
        "footer-libros footer-libros";
    
}
}

@media screen and(min-width:600px) {
    .contenedor-libros{
        grid-template-areas:
        "header-libros header-libros header-libros" 
        "main-libros main-libros main-libros"
        "footer-libros footer-libros footer-libros";
    
}
}

@media screen and(min-width:1024px) {
    .contenedor-libros{
        grid-template-areas:
        "header-libros header-libros header-libros header-libros header-libros" 
        "main-libros main-libros main-libros main-libros main-libros"
        "footer-libros footer-libros footer-libros footer-libros footer-libros";
    
}
}


.contenedor-biblioteca{
    background-color: nth($colores, 8);
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows:auto auto auto ;

    grid-template-areas: 
    "header-biblioteca header-biblioteca header-biblioteca header-biblioteca header-biblioteca"
    "main-biblioteca main-biblioteca main-biblioteca main-biblioteca main-biblioteca"
    "footer-biblioteca footer-biblioteca footer-biblioteca footer-biblioteca footer-biblioteca";

    header{
        grid-area: header-biblioteca;
    }
    
     main{
        grid-area: main-biblioteca;
    .mislibros{
        @extend %flex;
        background-color: nth($colores, 10);
        @include mar-pad(4px, 2px);
        font-size: 2rem;
        border: 2px solid black;
    }

    .listas{
        @extend %flex;
        font-size: 1.2rem;
        border: 2px solid black;
        @include mar-pad(5px, 3px);
        background-color: nth($colores, 12);

    }
    .titulo-lista{
        background-color: nth($colores, 11);
        @extend %flex;
        font-size: 1.2rem;
        border: 2px solid black;
        @include mar-pad(2px, 2px);
    }
    .input{
        @include mar-pad(4px, 3px);
    }
    .card{
        @include mar-pad(3rem, 1rem);
        margin-left: 5rem;
    }
  }
  footer{
    grid-area: footer-biblioteca;
   @extend %flex;
   @include mar-pad(4px, 3px);
   background-color: nth($colores, 3);
   border: 2px solid black;
}
}
@media screen and(min-width:480px) {
    .contenedor-biblioteca{
    
        grid-template-areas: 
        "header-biblioteca header-biblioteca"
        "main-biblioteca main-biblioteca"
        "footer-biblioteca footer-biblioteca";
    }    
    
}

@media screen and(min-width:600px){
    .contenedor-biblioteca{
    
        grid-template-areas: 
        "header-biblioteca header-biblioteca header-biblioteca"
        "main-biblioteca main-biblioteca main-biblioteca"
        "footer-biblioteca footer-biblioteca footer-biblioteca";
    }    
}

@media screen and(min-width:1024px) {
    
    .contenedor-biblioteca{
    
        grid-template-areas: 
        "header-biblioteca header-biblioteca header-biblioteca header-biblioteca header-biblioteca"
        "main-biblioteca main-biblioteca main-biblioteca main-biblioteca main-biblioteca"
        "footer-biblioteca footer-biblioteca footer-biblioteca footer-biblioteca footer-biblioteca";
    }    
}
  



.contendor-contacto{
   display: gird;
   grid-template-columns:auto auto auto ;
   grid-template-rows:auto auto auto ;

   grid-template-areas:
   "header-contacto header-contacto header-contacto"
    "main-contacto main-contacto main-contacto"
    "footer-contacto footer-contacto footer-contacto";


    header{
        grid-area: header-contacto;
    }

    main{
        grid-area: main-contacto;
    }


.hcontacto{
    @extend %flex;
    background-color: nth($colores, 11);
   @include mar-pad(4px, 2px);
    font-size: 2rem;
    border: 2px solid black;
}


.contactanos{
    @extend %flex;
    column-gap: 1rem;
    background-color: nth($colores, 8);
    @include mar-pad(10px, 5px);
    border: 2px solid black;


    .pcontacto{
        font-size: 1.2rem;
    }

    .contacto-imagen{
        width: 3rem;
      
    }
}

footer{
    grid-area: footer-contacto;
   @extend %flex;
   @include mar-pad(4px, 3px);
   background-color: nth($colores, 3);
   border: 2px solid black;
}
}

@media screen and(min-width:480px) {

    .contendor-contacto{
     
        grid-template-areas:
        "header-contacto"
         "main-contacto"
         "footer-contacto";
}
}

@media screen and(min-width:600px) {

    .contendor-contacto{
     
        grid-template-areas:
        "header-contacto header-contacto"
         "main-contacto main-contacto"
         "footer-contacto footer-contacto";
}
}

@media screen and(min-width:1024px) {

     .contendor-contacto{
     
        grid-template-areas:
        "header-contacto header-contacto header-contacto"
         "main-contacto main-contacto main-contacto"
         "footer-contacto footer-contacto footer-contacto";
}
}



.contenedor-ayuda{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;

    grid-template-areas: 
    "header-ayuda header-ayuda header-ayuda"
    "main-ayuda main-ayuda main-ayuda"
    "footer-ayuda footer-ayuda footer-ayuda";
    header{
        grid-area: header-ayuda;
    }
   main{
    grid-area: main-ayuda;
  h1{
    @extend %flex;
    background-color: nth($colores, 11);
   @include mar-pad(4px, 2px);
    font-size: 2rem;
    border: 2px solid black;
  }

  .p-ayuda{
    height: 30vh;
    @extend %flex;
    background-color: nth($colores, 8);
    border: 2px solid black;
    @include mar-pad(4px, 2px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    font-size: 1.1rem;
  }

  h2{
    @extend %flex;
    background-color: nth($colores, 11);
   @include mar-pad(4px, 2px);
    font-size: 2rem;
    border: 2px solid black;
  }

  .opiniones{
    height: 20vh;
    @extend %flex;
    background-color: nth($colores, 8);
   @include mar-pad(4px, 2px);
    font-size: 1rem;
    border: 2px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    .conformidad{
        @include mar-pad(4px, 2px);
    }
  }
  }


    footer{
        grid-area: footer-ayuda;
       @extend %flex;
       @include mar-pad(4px, 3px);
       background-color: nth($colores, 3);
       border: 2px solid black;
    }
}

@media screen and(min-width:480px) {

    .contenedor-ayuda{

    grid-template-areas: 
    "header-ayuda"
    "main-ayuda"
    "footer-ayuda";
}
}

@media screen and(min-width:600px){

    .contenedor-ayuda{

        grid-template-areas: 
        "header-ayuda header-ayuda"
        "main-ayuda main-ayuda"
        "footer-ayuda footer-ayuda";
    }
    
}

@media screen and(min-width:1024px) {

    .contenedor-ayuda{

        grid-template-areas: 
        "header-ayuda header-ayuda header-ayuda"
        "main-ayuda main-ayuda main-ayuda"
        "footer-ayuda footer-ayuda footer-ayuda";
    }
    
}









