@import "utilities/variables";

//nesting
 
.mislibros{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-h1;
    margin: 4px;
    font-size: 2rem;
    border: 2px solid black;
}

.listas{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
    border: 2px solid black;
    margin: 5px;
    background-color: $color-principal;

    .titulo-lista{
        background-color: $otro-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
        border: 2px solid black;
        margin: 2px;
    }
}

