@import "base/listas";
@import "base/extend";
@import "base/mixin";

body{
    background-image: linear-gradient(to bottom, rgb(213, 209, 209), rgb(215, 211, 211) );
}

.container{
    @extend %flex;
    border: 2px solid black;
    background-color: nth($colores, 4);

    header{
        grid-area: header;
    
    }

    .nav-item{
        display: inline-block;
        @include mar-pad(9px, 9px);
        border: 2px solid rgb(37, 34, 34);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
        border-radius: 20px;
        font-weight: bold;
    }

    .nav-item:hover{
        background-color: nth($colores, 5);
        transform: scale(0.9);
        box-shadow: 2px 2px 10px black;
    }
    
}

.card{
    @include mar-pad(10px, 5px);
    display: inline-block;
    border: 4px solid black;
    
  }
  .card:hover{
    transform: scale(0.9);
    box-shadow: 2px 2px 10px black;
}


.contenedor{
    height: 100vh;
    display: grid;

    grid-template-columns:0.3fr 1fr;
    grid-template-rows:0.4fr 1fr 0.5fr 0.3fr;

    grid-template-areas: 
    "header header header"
    "main main main"
    "section-uno section-dos section-dos"
    "footer footer footer";



    header{
        grid-area: header;
        
    }

    
    main{
        grid-area: main;
    }
    .destacable{
        @extend %flex;
        @include mar-pad(4px, 3px);
        border: 2px solid black;
        background-color: nth($colores, 9);

        .aclaracion{
            display: inline-block;
            background-color: nth($colores, 3);
            font-size: 1.2rem;
            border: 1px solid black;
            @include mar-pad(2px, 2px);
        }


    }

    .section-uno{
        @include mar-pad(3px, 2px);
        background-color: nth($colores, 8);
        grid-area: section-uno;
        border: 2px solid black;

        p{
            font-size: 1.5rem;
            font-family: Georgia, 'Times New Roman', Times, serif
        }
    }

    .section-dos{
        @include mar-pad(3px, 2px);
        background-color: nth($colores, 9);
        grid-area: section-dos;
        border: 2px solid black;

        .quienes-somos{
            font-size: 2rem;
            font-style: oblique;
        }

        p{
            font-size: 1.1rem;
            font-style: oblique;
        }
    }

    footer{
        grid-area: footer;
       @extend %flex;
       @include mar-pad(4px, 3px);
       background-color: nth($colores, 3);
       border: 2px solid black;
    }

}




.contenedor-libros{
    background-color: nth($colores, 8);
.busquedalibros{
    @extend %flex;
    border: 3px solid black;
    @include mar-pad(6px, 2px);
    background-color: nth($colores, 3);
    font-family:'Times New Roman', Times, serif;

    .input{
        margin: 3px;
    }
}

 .catalogo{
    background-color: nth($colores, 10);
    @extend %flex;
    font-size: 1.2rem;
    border: 2px solid black;
    @include mar-pad(2px, 2px);
 }
 .card{
    @include mar-pad(3rem, 1rem);
    margin-left: 5rem;
 }

 footer{
   @extend %flex;
   @include mar-pad(4px, 3px);
   background-color: nth($colores, 3);
   border: 2px solid black;
}
}


.contenedor-biblioteca{
    background-color: nth($colores, 8);
     main{
    .mislibros{
        @extend %flex;
        background-color: nth($colores, 4);
        @include mar-pad(4px, 2px);
        font-size: 2rem;
        border: 2px solid black;
    }

    .listas{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.2rem;
        border: 2px solid black;
        @include mar-pad(5px, 3px);
        background-color: nth($colores, 3);

    }
    .titulo-lista{
        background-color: nth($colores, 4);
        @extend %flex;
        font-size: 1.2rem;
        border: 2px solid black;
        @include mar-pad(2px, 2px);
    }
    .input{
        @include mar-pad(4px, 3px);
    }
    .card{
        @include mar-pad(3rem, 1rem);
        margin-left: 5rem;
    }
  }
  footer{
    grid-area: footer;
   @extend %flex;
   @include mar-pad(4px, 3px);
   background-color: nth($colores, 3);
   border: 2px solid black;
}
}
  



.contendor-contacto{
   
.hcontacto{
    @extend %flex;
    background-color: nth($colores, 4);
   @include mar-pad(4px, 2px);
    font-size: 2rem;
    border: 2px solid black;
}


.contactanos{
    @extend %flex;
    background-color: nth($colores, 4);
    @include mar-pad(4px, 2px);
    border: 2px solid black;

    .pcontacto{
        font-size: 1.2rem;
    }

    .contacto-imagen{
        width: 3rem;
      
    }
}

footer{
    grid-area: footer;
   @extend %flex;
   @include mar-pad(4px, 3px);
   background-color: nth($colores, 3);
   border: 2px solid black;
}
}



.contenedor-ayuda{
   main{
  h1{
    @extend %flex;
    background-color: nth($colores, 4);
   @include mar-pad(4px, 2px);
    font-size: 2rem;
    border: 2px solid black;
  }

  .p-ayuda{
    height: 30vh;
    @extend %flex;
    background-color: nth($colores, 4);
    border: 2px solid black;
    @include mar-pad(4px, 2px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    font-size: 1.1rem;
  }

  h2{
    @extend %flex;
    background-color: nth($colores, 4);
   @include mar-pad(4px, 2px);
    font-size: 2rem;
    border: 2px solid black;
  }

  .opiniones{
    height: 20vh;
    @extend %flex;
    background-color: nth($colores, 4);
   @include mar-pad(4px, 2px);
    font-size: 1rem;
    border: 2px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    .conformidad{
        @include mar-pad(4px, 2px);
    }
  }
  }


    footer{
        grid-area: footer;
       @extend %flex;
       @include mar-pad(4px, 3px);
       background-color: nth($colores, 3);
       border: 2px solid black;
    }
}









